dist/*
build/*
log/*
*.egg-info
__init__.pyc
*.pyc
**/.ipynb_checkpoints
**/__pycache__/
**/trials/
**/*.pkl
**/*.npy
**/results/
**/run*.sh
**/init*.sh
**/*hpo*.sh
**/*mnist*.sh
**/*iris*.sh
**/*digits*.sh
**/*cancer*.sh
**/*mnist1000*.sh
**/*fsdd*.sh
**/*sklearn*.sh
**/report/
**/target/
**/test*.py
.deprecated/
